/* 1-표지는 쌤이랑 같이 함 : 파일명 : t_index.html t_index.css */
/* 북금곰 랜딩페이지 */
main {font-family: "Noto Sans KR", sans-serif;}
/* 배경 공통&개별값 + 공통 제목 */
main .bg {
    background-position: center; /* 브라우저 너비를 줄여도 곰얼굴이 가운데로 오게 하는 속성 */
    background-repeat: no-repeat; /* 브라우저 화면 배경 사진 반복 안되게 */
    /* 가끔씩 배경이미지의 이미지 끝에 여백이 생기는 경우가 있다. */
    /* background-size: cover; -> 난 이거 적용하면 section 공통 선택자 작성 안해서,
    width 값 1250px 때문에 화면 전체 가로에 꽉 찬 배경 이미지가 됨.*/
}
main .bg1 {
    height: 998px;
    background-image: url(../images/bg.jpg);
}
main .bg .sub_title {
    font-size: 4.375rem; font-weight: 700;
    line-height: 1.2; letter-spacing: -0.1px;
}
main .bg .sponsor_link::after {
    content: '';
    background-image: url(../images/btn_right_arrow.svg);
    background-repeat: no-repeat;
    width: 32px; height: 32px; /* 가상공간은 가로세로가 필요함 */
    display: inline-block; /* 가상공간을 블록처럼 인식하게 해야함. */
}
main .bg .sponsor_link {
    /* 그라디언트 : 0% FE9300, 100% FF7300 */
    /* css에서 회전각도단위는 deg */
    background: linear-gradient(90deg, #FE9300,#FF7300); /* (그라이던트 적용하는 법) */
    /* ************ 그라이던트 적용을 위해 background 통합 속성을 사용했을때, 해당 요소 추가 배경이미지 꾸미기를 원한다면 가상선택자(::before,::affter)를 활용하는 것을 권장한다. *********** */
    display: flex; /* flex도 블록이다. */
    justify-content: center;
    align-items: center;
    /* 중앙에 오게 하려면,블록,마진변경 */
    width: 409px; /* line-height: 71px; */
/*     text-align: center; */ height: 71px;
    font-size: 2.125rem; font-weight: 700; color: #fff;
    border-radius: 50px;
}
/* ---------------------------------------------- 1.표지 */
main .bg1 section {
    width: 1250px;
    margin: 0 auto;
}
main .bg1 section h1 {}
main .bg1 section h1 a {}
main .bg1 section h1 a img {}
main .bg1 section h2 {
    text-align: center;
    font-size: 4.375rem; color: #fff;
    letter-spacing: -0.2px; line-height: 1.2;
    margin: 78px 0 41px; /* 로고에서 h2 글자까지 여백과 아래 버튼과의 여백 */
}
main .bg1 section h2 em {
    font-weight: 700;
}
main .bg1 section .sponsor_link::after {
    content: '';
    background-image: url(../images/btn_right_arrow.svg);
    background-repeat: no-repeat;
    width: 32px; height: 32px; /* 가상공간은 가로세로가 필요함 */
    display: inline-block; /* 가상공간을 블록처럼 인식하게 해야함. */
}
main .bg1 section .sponsor_link {
    /* 그라디언트 : 0% FE9300, 100% FF7300 */
    /* css에서 회전각도단위는 deg */
    background: linear-gradient(90deg, #FE9300,#FF7300); /* (그라이던트 적용하는 법) */
    /* ************ 그라이던트 적용을 위해 background 통합 속성을 사용했을때, 해당 요소 추가 배경이미지 꾸미기를 원한다면 가상선택자(::before,::affter)를 활용하는 것을 권장한다. *********** */
    display: flex; margin: 0 auto; /* flex도 블록이다. */
    justify-content: center;
    align-items: center;
    /* 중앙에 오게 하려면,블록,마진변경 */
    width: 409px; /* line-height: 71px; */
/*     text-align: center; */ height: 71px;
    font-size: 2.125rem; font-weight: 700; color: #fff;
    border-radius: 50px;
}
main .bg1 section .sponsor_question {
    background-color: #050505; color: #fff;
    font-size: 1.625rem;
    width: 405px; /* text-align: center; */ height: 50px;
    border-radius: 50px;
    float: right; margin: 133px 0 0;
    /* flex해보기 */
    display: flex;
    justify-content: center;
    align-items: center;
}
/* 후원질문보기 버튼 : flex해보기 */
main .bg1 section .sponsor_question::before,
main .bg1 section .sponsor_question::after {
    content: '';
    background-repeat: no-repeat;
    width: 24px; height: 24px; display: inline-block;
}

main .bg1 section .sponsor_question::before {
    background-image: url(../images/icon_sms.svg);
    margin-right: 8px;
}
main .bg1 section .sponsor_question::after {
    background-image: url(../images/btn_right_arrow.svg);
    background-size: 24px 24px;
    margin-left: 5px;
}
/* -------------------------------------------------------- 2-퀴즈 index.css 파일에 작성 (나혼자 해보는)*/
/* -------------------------------------------------------- 2-퀴즈 */
/* bg2 css 풀이 4.29 월 
    main .bg > section {width:1250px; margin: 0 auto;}
    선택자 다양하게 써보기, 자식선택자 >, 인접선택자 +, 등등.
    퀴즈 오른쪽 왼쪽 영역은 main .bg2 section > * {모든 자식에 width: 50%; 
    main section {display:felx;}를 주고, section > * 에 width:50px; 대신 flex: 1를 준다.
    h2 + p 에 line-height : 1.7를 공통으로 준다 -> 두줄이 될 때를 대비.
    ul > li 에 margin bottom을 주고, 마지막 자식 li:last-child에 margin: 0;을 줘서 초기화 시킨다.
    li 글자가 겹치지 않게 여백 padding-left : (사진크기가로 + 글자와의 여백 ) ; 을 준다.
    퀴즈 오른쪽 영역 -> display: flex로 하는 법 아래로 가게 flex-flow: column wrap;에
    교차축 align-items: flex-end;
*/
main .bg2 {
    height: 500px;
    background-image: url(../images/bg_2.jpg);
    overflow: hidden;
}
/* 2-퀴즈 왼쪽 영역 : 퀴즈 리스트 */
main .bg2 .question_area {
    width: 1250px; height: 380px;
    margin: 0 auto;
    display: flex;
    flex-flow: raw nowrap;
    justify-content: space-between;
}
main .bg2 .question_area .left {color: #fff; margin-top: 60px;}
main .bg2 .question_area .left h2 {
    font-size: 3.438rem; font-weight: 500; line-height: 1.2;
    margin-left: 221px;
}
main .bg2 .question_area .left #quiz_frm {margin-top: 22px;}
main .bg2 .question_area .left #quiz_frm .quiz_list {}
main .bg2 .question_area .left #quiz_frm .quiz_list dl {}
main .bg2 .question_area .left #quiz_frm .quiz_list dl dt {
    font-size: 1.25rem;
    margin-bottom: 10px; line-height: 1.7;
}
main .bg2 .question_area .left #quiz_frm .quiz_list dl dd {
    font-size: 1.25rem; line-height: 1.7;
    margin-bottom: 16px;
}
main .bg2 .question_area .left #quiz_frm .quiz_list dl dd input {
    display: none;
}
main .bg2 .question_area .left #quiz_frm .quiz_list dl dd label[for*=ques] {
    background-image: url(../images/quiz_unchecked.svg);
    background-repeat: no-repeat;
    background-size: 27px;
    padding-left: 49px;
}
/* ---------------------------------------------------------------------- 2-퀴즈 : 퀴즈 선택 효과 */
main .bg2 .question_area .left #quiz_frm .quiz_list dl dd input[name*=ques]:checked + label {
    background-image: url(../images/quiz_checked.svg);
    background-repeat: no-repeat;
    background-size: 27px;
    padding-left: 49px;
}
main .bg2 .question_area .left .quiz_btn_area {}
main .bg2 .question_area .left .quiz_btn_area #quiz_btn {
    background-color: #050505; color: #fff;
    width: 450px; height: 39px; border-radius: 50px;
}
/* 2-퀴즈 오른쪽 영역 : 퀴즈 리스트 */
main .bg2 .question_area .right {margin-top: 114px;}
main .bg2 .question_area .right .num_box {
    margin-bottom: 28px; border-radius: 15px;
    height: 220px; background-color: #fff;
}
main .bg2 .question_area .right .num_box p:nth-child(1) {
    background-color: #FF7300; width: 529px;
    font-size: 1.625rem; font-weight: 700; color: #fff;
    /* text-align: center; */ line-height: 64px;
    border-radius: 15px 15px 0 0;
    display: flex; /* flex 넣으니, text-align보다 우선순위가 되어 좌측으로 붙어버린다. */
    justify-content: center;
    align-items: center;
}
main .bg2 .question_area .right .num_box p:nth-child(1):before {
    background-image: url(../images/icon_person.svg);
    content: ''; display: inline-block;
    width: 30px; height: 30px; /* 이미지가 살짝 올라간 건, before과 text를 모두 가진 부모 p에 display:flex */
}
main .bg2 .question_area .right .num_box p:nth-child(2) {
    text-align: center; height: 156px; line-height: 156px;
    font-size: 2.688rem; font-weight: 800;
}
main .bg2 .question_area .right .num_box p:nth-child(2) em {
    font-size: 4.375rem; letter-spacing: -0.5px; font-weight: 900;
    color: #FF7300;
}
main .bg2 .question_area .right .num_box p:nth-child(2) span {color: #FF7300; font-weight: 800;}
main .bg2 .question_area .right > p {text-align: right; color: #fff;}
/* -------------------------------------------------------- 3-동영상 */
main .bg3 {
    height: 1206px;
    background-image: url(../images/bg_3.jpg);
}
main .bg3 .video_area {width: 900px; margin: 0 auto; padding-top: 85px;}
main .bg3 .video_area h2 {
    font-size: 3.438rem; line-height: 1.2;
    font-weight: 700; text-align: center;
}
main .bg3 .video_area #video {
    width: 900px;
    background-color: #aaa;
    margin: 60px 0;
}
main .bg3 .sponsor_link {}
main .bg3 .sponsor_link::after {
    content: '';
    background-image: url(../images/btn_right_arrow.svg);
    background-repeat: no-repeat;
    width: 32px; height: 32px; /* 가상공간은 가로세로가 필요함 */
    display: inline-block; /* 가상공간을 블록처럼 인식하게 해야함. */
}
main .bg3 .sponsor_link {
    /* 그라디언트 : 0% FE9300, 100% FF7300 */
    /* css에서 회전각도단위는 deg */
    background: linear-gradient(90deg, #FE9300,#FF7300); /* (그라이던트 적용하는 법) */
    /* ************ 그라이던트 적용을 위해 background 통합 속성을 사용했을때, 해당 요소 추가 배경이미지 꾸미기를 원한다면 가상선택자(::before,::affter)를 활용하는 것을 권장한다. *********** */
    display: flex; margin: 0 auto; /* flex도 블록이다. */
    justify-content: center;
    align-items: center;
    /* 중앙에 오게 하려면,블록,마진변경 */
    width: 409px; /* line-height: 71px; */
/*     text-align: center; */ height: 71px;
    font-size: 2.125rem; font-weight: 700; color: #fff;
    border-radius: 50px;
}
/* -------------------------------------------------------- 4-50 */
/*
    04/30 (화) 쌤 코드
    4,6번 페이지 공통 선택자
    main .bg4 section,
    main .bg6 section {}
    등 section 과 h2.sub_title 과 span , h2.sub_title + p 등
    공통 선택자를 넣는다.
*/
main .bg4 {
    height: 1164px;
    background-image: url(../images/bg_4.jpg);
    background-repeat: no-repeat;
}
main .bg4 .wrap {width: 1250px; margin: 0 auto; padding-top: 121px;}
main .bg4 .wrap .txt_area {
    font-weight: 700; color: #fff; line-height: 1.2;
}
main .bg4 .wrap .txt_area h2 {font-size: 3.438rem; line-height: 1.2;}
main .bg4 .wrap .txt_area h2 em {
    display: inline-block; background-color: #fff; color: #000;
    font-weight: 700; height: 60px;
}
main .bg4 .wrap .txt_area p {font-size: 2.125rem; margin-top: 66px; line-height: 1.2;}
main .bg4 .wrap > p {width: 1250px; height: 576px; margin-top: 66px;}
/* -------------------------------------------------------- 5-위기 */
/* 쌤 코드 {
    ul li
    flex:1; main .bg5 section .container li .bg p
} */
main .bg5 {
    height: 1122px;
    background-image: url(../images/bg_5.jpg);
    background-repeat: no-repeat;
}
main .bg5 .wrap {
    width: 1250px; margin: 0 auto;
}
main .bg5 .wrap h2 {
    font-size: 3.438rem; font-weight: 700;
    text-align: center; padding: 120px 0 30px;
}
main .bg5 .wrap > p {
    font-size: 1.625rem; line-height: 38px;
    text-align: center;
}
main .bg5 .wrap .list {
    margin-top: 120px; height: 570px;
    /* background-color: aqua;  */
    display: flex;
    justify-content: space-between;
}
main .bg5 .wrap .list div {
    display: flex;
    flex-flow: column wrap;
    justify-content: space-between;
}
main .bg5 .wrap .list div .tit,
main .bg5 .wrap .list div .sub {
    color: #fff;
}
main .bg5 .wrap .list div:nth-child(1){
    width: 387px; height: 100%;
    background-image: url(../images/box_img_1.jpg);
    background-size: 387px 320px;
    background-repeat: no-repeat;
}
main .bg5 .wrap .list div:nth-child(2) {
    width: 387px; height: 100%;
    background-image: url(../images/box_img_2.jpg);
    background-size: 387px 320px;
    background-repeat: no-repeat; 
}
main .bg5 .wrap .list div:nth-child(3) {
    width: 387px; height: 100%;
    background-image: url(../images/box_img_3.jpg);
    background-size: 387px 320px;
    background-repeat: no-repeat;  
}
main .bg5 .wrap .list div .tit {
    padding-top: 45px;
    display: inline-block; text-align: center;
}
main .bg5 .wrap .list div .tit > em{
    font-size: 2.688rem; font-weight: 700; text-align: center;
}
main .bg5 .wrap .list div .tit > span {
    margin-top: 11px;
    display: block;
    font-size: 1.625rem;
}
main .bg5 .wrap .list div > .btm_txt_area {
    width: 100%; height: 250px;
    background-color: #fff;
    text-align: center;
    padding: 0 20px; margin: 0 auto;
    margin-top: 194px;
    padding-top: 20px; line-height: 1.7;
    font-size: 1.25rem; color: #050505;
}
/* -------------------------------------------------------- 6-위기 */
main .bg6 {
    height: 1164px;
    background-image: url(../images/bg_6.jpg);
    background-repeat: no-repeat;
}
main .bg6 .wrap {
    width: 1250px;
    height: 1164px;
    margin: 0 auto;
    padding-top: 121px;
    
}
main .bg6 .wrap h2 {
    margin-bottom: 66px;
}
main .bg6 .wrap h2,
main .bg6 .wrap em {
    color: #fff;
    font-size: 3.438rem; line-height: 1.2; font-weight: 500;
    display: inline-block;
    padding: 0 2px;
}
main .bg6 .wrap em {
    background-color: #fff; color: #050505;
    display: inline-block;
}
main .bg6 .wrap p {
    font-size: 2.125rem; color: #fff;
    line-height: 1.2;
    margin-bottom: 66px;
}
main .bg6 .wrap div {}
main .bg6 .wrap div img {}
/* -------------------------------------------------------- 7-wwf */
main .bg7 {
    height: 706px;
    background-image: url(../images/bg_7.jpg);
    background-repeat: no-repeat;
}
main .bg7 section {
    margin: 0 auto;
    height: 706px; width: 1250px;
}
main .bg7 section h2 {
    font-size: 3.438rem; font-weight: 500;
    padding: 126px 0 80px;
    text-align: center; letter-spacing: -0.1px;
}
main .bg7 section p {
    text-align: center;
    font-size: 1.625rem; font-weight: 500;
    line-height: 38px;
}
main .bg7 section p:nth-child(2) {
    margin-bottom: 80px;
}
/* -------------------------------------------------------- 7-wwf */
main .bg8 {
    height: 1075px;
    background-image: url(../images/bg_8.jpg);
}
main .bg8 section {
    width: 1250px; height: 1075px;
    margin: 0 auto; padding: 158px 0;
    /* display: flex;
    flex-flow: column wrap; */
}
main .bg8 section h2 {
    font-size: 3.438rem; font-weight: 500;
    padding: 0 0 118px; line-height: 1.2;
    text-align: center; letter-spacing: -0.1px;
}
main .bg8 section .img_area {
    display: flex;
    flex-flow: raw wrap;
    justify-content: space-between;
    width: 1250px; height: 509px;
}
main .bg8 section .img_area .img_left {
    width: 615px;
    display: flex;
    flex-flow: column wrap;
    justify-content: space-between;
}
main .bg8 section .img_area .img_left .img1 {
    background-image: url(../images/wwf_img_1.jpg);
    background-repeat: no-repeat;
    height: 244px;
}
main .bg8 section .img_area .img_left .img2 {
    background-image: url(../images/wwf_img_2.jpg);
    background-repeat: no-repeat;
    height: 245px;
}
main .bg8 section .img_area .img_right {
    width: 615px; /* margin-left: 20px; */
}
main .bg8 section .img_area .img_right .img3 {
    background-image: url(../images/wwf_img_3.jpg);
    background-repeat: no-repeat;
    height: 509px;
}
main .bg8 section .img_area .img_right p,
main .bg8 section .img_area .img_left p {
    display: inline-block;
    background-color: #2E3148;
    width: 286px; height: 97px; color: #fff;
    line-height: 1.5; padding: 10px 0 0 25px;
}
main .bg8 section .img_area .img_right p em,
main .bg8 section .img_area .img_left p em {
    font-size: 1.625rem; font-weight: 700;
}
main .bg8 section .img_area .img_left p {margin-top: 133px;}
main .bg8 section .img_area .img_right p {margin-top: 397px;}
/* -------------------------------------------------------- 9-상품 */
/* -------------------------------------------------------- 9-상품 */
/* -------------------------------------------------------- 9-상품 */
/* -------------------------------------------------------- 4/29 월 작성 시작 */
main .bg9 {
    height: 706px;
    background-image: url(../images/bg_9.jpg);
    background-repeat: no-repeat;
}
main .bg9 section {width: 1250px; margin: 0 auto;}
main .bg9 section .top {
    width: 1250px;
    display: flex; 
    justify-content: space-between;
    padding: 72px 0 0;
}
main .bg9 section .top h2 {
    font-size: 2.688rem; color: #fff;
    line-height: 1.2; 
}
main .bg9 section .top .sponsor_link { /* 공통 선택자 작성해 디자인 통일 : 후원하기 버튼 */ }
main .bg9 section .img_area {
    width: 1250px; height: 358px; color: #fff;
    display: flex; justify-content: space-between;
    margin-top: 46px;
}
main .bg9 section .img_area {}
main .bg9 section .img_area > * {}
main .bg9 section .img_area .img1 img,
main .bg9 section .img_area .img2 img,
main .bg9 section .img_area .img3 img {
    display: block;
}
main .bg9 section .img_area div > span{
    display: block;
    font-size: 1.25rem;
    line-height: 1.7;
    margin-top: 20px; text-align: center;
}
main .bg9 section .btm {
    width: 1250px; text-align: right;
    margin: 41px 0 0;
    display: inline-block;
}
main .bg9 section .btm span {
    background-color: #fff; font-weight: 500;
}
/* -------------------------------------------------------- 10-함께 후원 */
/* -------------------------------------------------------- 10-함께 후원 */
/* -------------------------------------------------------- 4/30 화 작성 시작 */
main .bg10 {
    height: 706px;
    background-image: url(../images/bg_10.jpg);
    background-repeat: no-repeat;
}
main .bg10 section {width: 1250px; margin: 0 auto;}
main .bg10 section > * {
    margin: 0 auto;
}
main .bg10 section .sub_title,
main .bg10 section p {
    color: #fff; text-align: center;
}
main .bg10 section .sub_title {
    padding: 86px 0 0; font-weight: 500;
}
main .bg10 section p {
    padding: 30px 0 80px;
    font-size: 1.625rem;
}
main .bg10 section .sponsor_link {}
/* -------------------------------------------------------- 11-결제 안내 */
main .bg11 {
    height: 464px;
    background-image: url(../images/bg_11.jpg);
    background-repeat: no-repeat;
}
main .bg11 .txt_area {
    width: 1250px;
    line-height: 464px;
    margin: 0 auto;
    padding: 110px 0;
}
main .bg11 .txt_area p {
    line-height: 2;
    font-size: 1.25rem;
}
main .bg11 .txt_area p span {
    font-size: 1.625rem;
    font-weight: 700;
}
/* -------------------------------------------------------- 12-footer */
main .bg12 {
    height: 391px;
    background-color: #050505;
}
main .bg12 div {
    width: 1250px; height: 391px;
    margin: 0 auto;
    padding: 71px 0 87px;
    color: #fff;
    background-color: aqua;
}
main .bg12 div .top {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}
main .bg12 div .top > * {
    display: inline-block;
}
main .bg12 div .top p {font-weight: 700;}
main .bg12 div .top .sns_area {}
main .bg12 div .top .sns_area a {margin-right: 16px;}
main .bg12 div .top .sns_area a:last-child {margin-right: 0;}
main .bg12 div .top .sns_area a img {}
main .bg12 div .btm {margin-top: 20px;}
main .bg12 div .btm p {line-height: 2;}