 /* naver 공통 초록 글자  #03c75a */
header #myname {
    width: 1024px; height: 30px;
    background-color: #aaa;
    margin: 0 auto;
    text-align: center;
    line-height: 30px;
    font-size: 1.25rem;
}
main {
    font-family: "Noto Sans KR", sans-serif;
    width: 1024px; /* height: 890px; 표 table tr 추가하는 거 테스트겸 높이 지우기*/
    margin: 20px auto;
    padding: 46px 46px 98px 46px;
    border: 1px solid #000;
    /* display: inline-block;
    text-align: center; */  
}
main .top {}
main .top h1,
main .top h1 span {
    font-size: 3.125rem; /* 50px */
    font-weight: 700;
    line-height: 1.2;
    letter-spacing: -0.4px;
}
main .top h1 {}
main .top h1 span {
    color: #03c75a;
}
main p {
    letter-spacing: -0.4px;
}
main .top h2,
main .top h2 .user,
main > h2 span {font-size: 1.5rem; /* 24px */}
main .top h2 {
    padding-top: 49px;
    padding-bottom: 49px;
}
main .top h2 .user {
    color: #03c75a;
}
main .top h2 .user:hover{text-decoration: underline;}
main .top p {line-height: 34px;}
main .top p a{text-decoration-line: underline;}
main > h2 {
    font-size: 1.563rem;
    padding-top: 49px;
    padding-bottom: 22px;
}
main > h2 span {color: #aaa; padding-left: 5px;}
main .buy_list {
    font-size: 1.25rem; /* 20px */
    width: 933px;
}
main .buy_list thead,
main .buy_list tbody {padding: 30px 0;}

main .buy_list thead {
    border-top: 3px solid #000 ;
}
main .buy_list thead,
main .buy_list tbody {border-bottom: 1px solid #aaa;}
main .buy_list thead th {}

main .buy_list tbody {}
main .buy_list tbody td {}

main .buy_list tbody td em {
    color: #03c75a;
}
/* 표에 높이 안주고 대신 padding 값으로 여백을 만들었다. */
/* buy_list 는 table */
main .buy_list tr * {padding: 15px 0;}
main .buy_list tr .align {text-align: center;}
main .buy_list tr .first {padding-left: 15px;}

main .detail_view {
    display: inline-block;
    /* a태그는 inline, block 특징을 모두 가질 수 있지만, 기본적으로 고유한 속성은 inline이다. 따라서 display: inline-block을 주지 않으면, 가로세로 값, 여백 값을 인식 못한다. */
    text-decoration: underline;
    padding-top: 11px;
    width: 100%;
    text-align: right;
}
main .detail_view:hover {
    color: #03c75a;
}
main .btm {
    display: inline-block;
    width: 100%;  /* 정확한 가로값은 930px */
    text-align: center;
    padding-top: 160px;
}
main .btm a {
    background-color: #03c75a;
    color: #fff;
    font-size: 1.25rem; 
    padding: 20px 40px;
    border-radius: 30px;
    box-sizing: border-box;
    margin-bottom: 20px;
}
main .btm a:hover {
    background-color: #0f8042;
}
main .btm .home {}
main .btm .keepbox {margin-left: 15px;}