/* body top 버튼 */
body {}
#top_btn .btn {
    position: fixed;
    z-index: 999;
    text-align: center;
    width: 80px; height: 80px; color: #fff;
    background-color: #444;
    display: inline-block;
    padding-top: 5px;
    right: 30px; bottom: 40px;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.4);
}
/* main 영역 */
main {font-family: "Noto Sans KR", sans-serif;}
/* 배경 공통&개별값 */
main .bg {
    background-position: center; /* 브라우저 너비를 줄여도 이미지 가운데로 오게 하는 속성 */
    background-repeat: no-repeat; /* 브라우저 화면 배경 사진 반복 안되게 */
    background-size: cover;
}
main .bg1 {
    background-image: url(../images/bg_1.jpg);
    height: 1000px;
}
main .bg1 #area_1 {
    width: 1250px;
    margin: 0 auto;
    text-align: center;
}
main .bg1 #area_1 h1 {padding: 134px 0 50px;}
main .bg1 #area_1 p {
    font-size: 2.688rem; font-weight: 500;
    color: #fff; line-height: 1.2;
}
main .bg1 #area_1 .img_area {
    width: 1215px;
    margin-top: 90px;
}
main .bg1 #area_1 .img_area img {}
/* ------------------------------------------------------ 2 */
main .bg2 {
    height: 1000px;
    background-image: url(../images/bg_2.jpg);
    background-repeat: no-repeat;
    border-bottom: 1px solid red;
    position: relative;
    z-index: 1;
}
main .bg2 section {
    width: 1250px;
    margin: 0 auto;
}
main .bg2 section h1 {
    padding: 32px 0 0 25px;
}
main .bg2 section .movie {
    margin: 132px;
    /* flex 적용하기 */
    display: flex;
    justify-content: center;
    align-items: center;
}
main .bg2 section .left img {
    width: 458px; height: 652px;
    border-radius: 30px;
}
main .bg2 section .right {
    width: 447px;
    margin-left: 80px;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    text-align: center;
}
main .bg2 section .right p,
main .bg2 section .right em {
    font-weight: 700;
}
main .bg2 section .right p:first-child {color: #FF143C;}
main .bg2 section .right p:first-child,
main .bg2 section .right a {
    font-size: 1.625rem;
    letter-spacing: -0.2px;
}
main .bg2 section .right .title {
    font-size: 4.375rem;
    letter-spacing: -0.4px;
    margin: 20px 0 0;
    color: #fff;
}
main .bg2 section .right .go_watching {
    display: inline-block;
    background-color: #FF143C; color: #fff;
    width: 434px;
    padding: 15px 20px; border-radius: 10px;
    margin: 200px 0 50px;
    opacity: 60%;
}
main .bg2 section .right .go_quiz {
    display: inline-block;
    background-color: #fff;
    width: 361px;
    padding: 15px 20px; border-radius: 10px;
    opacity: 60%;
}
main .bg2 section .right .go_watching::after {
    content: ''; display: inline-block;
    width: 34px; height: 34px;
    background-image: url(../images/bg2_yumi_arrow.png);
    background-repeat: no-repeat;
}
main .bg2 section .right .go_quiz::after {
    content: ''; display: inline-block;
    width: 34px; height: 34px;
    background-image: url(../images/bg2_quiz_arrow.png);
    background-repeat: no-repeat;
}
main .bg2 section .right .go_watching:hover {opacity: 100%;}
main .bg2 section .right .go_quiz:hover {opacity: 100%;}
/* ------------------------------------------------------ 2-퀴즈 팝업 (기본 숨기기) */
main .bg2 #quiz_popup {
    color: #fff;
    position: relative;
    z-index: 100;
    bottom: 776px;
    margin: 0 auto;
    /* 팝업 none 처리 ------------------ */
    display: none;
}
main .bg2 #quiz_popup .quiz_box {
    background-color: #FF143C;
    width: 910px; height: 600px;
    margin: 0 auto;
    border-radius: 15px;
}
main .bg2 #quiz_popup .quiz_box > * {
    display: flex;
    justify-content: center;
}
main .bg2 #quiz_popup .quiz_box p:first-child {}
main .bg2 #quiz_popup .quiz_box p:first-child img {
    padding: 15px 15px 0 860px;
}
main .bg2 #quiz_popup .quiz_box .question {
    font-size: 1.75rem;
    padding: 38px 0 20px;
}
main .bg2 #quiz_popup .quiz_box .quiz_btmline {
    width: 879px; height: 3px;
    background-color: #fff;
    margin: 0 auto 13px;
}
main .bg2 #quiz_popup .quiz_box .question_sub_info {}
main .bg2 #quiz_popup .quiz_box .quiz_area {margin-top: 69px;}
main .bg2 #quiz_popup .quiz_box .quiz_area li {text-align: center;}
main .bg2 #quiz_popup .quiz_box .quiz_area li input[id*=yumi] {
    display: none;
}
main .bg2 #quiz_popup .quiz_box .quiz_area li label[for*=yumi] {
    font-size: 1.625rem;
    background-image: url(../images/quiz_unchecked.png);
    background-repeat: no-repeat;
    padding-left: 40px;
}
main .bg2 #quiz_popup .quiz_box .quiz_area li input[id*=yumi]:checked + label {
    background-image: url(../images/quiz_checked.png);
    background-repeat: no-repeat;
    padding-left: 40px;
    color: #000; font-weight: 700;
}
main .bg2 #quiz_popup .quiz_box .quiz_area li img {
    margin-top: 30px;
    background-color: #d9d9d9; width: 189px; height: 189px;
    border-radius: 15px; display: inline-block;
}
main .bg2 #quiz_popup .quiz_box #quiz_btn {
    margin: 30px auto 0;
    width: 224px; height: 71px;
    background-color: #000; color: #fff;
    border-radius: 10px; line-height: 71px;
    font-size: 1.625rem; font-weight: 700;
}
main .bg2 #quiz_popup .btm_info {
    text-align: center;
    margin-top: 30px;
}

/* ------------------------------------------------------ 3 */
main .bg3 {
    height: 1000px;
    background-image: url(../images/bg_3.jpg);
    background-repeat: no-repeat;
}
main .bg3 div {
    width: 100%;
    text-align: center;
}
main .bg3 div p:first-child,
main .bg3 div .tit {
    font-weight: 700;
    color: #FF143C; 
}
main .bg3 div p:first-child {
    padding: 125px 0 15px; font-size: 1.625rem;
}
main .bg3 div .tit {font-size: 3.438rem;}
main .bg3 div .video_area {
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    padding: 95px 110px 105px;
}
main .bg3 div .video_area iframe {box-shadow: 0 0 30px rgba(255, 20, 60, 0.3);}
main .bg3 div .video_area iframe:nth-child(2) {
    width: calc((1920 / 2.5) - 40px);
    margin: 0 40px;
}
main .bg3 div .video_area iframe:first-child,
main .bg3 div .video_area iframe:last-child {
    width: 434px; height: 244px;
}
main .bg3 div .go_watching {
    background-color: #000; color: #fff;
    padding: 20px 30px; border-radius: 10px;
    font-size: 1.625rem;
}
main .bg3 div .go_watching:hover {
    color: #FF143C;
}
/* ------------------------------------------------------ 4-티빙 오리지널 */
main .bg4 {
    height: 1000px;
    background-image: url(../images/bg_4.jpg);
    background-repeat: no-repeat;
}
main .bg4 section {
    width: 1250px; margin: 0 auto;
    text-align: center; color: #fff;
}
main .bg4 section h2 {
    font-size: 2.688rem; font-weight: 500; line-height: 1.2;
    padding: 257px 0 60px;
    display: flex; justify-content: center;
}
main .bg4 section h2 img {
    margin: 0 5px;
}
main .bg4 section .img_area {}
main .bg4 section .img_area a {margin-right: 25px;}
main .bg4 section .img_area a:last-child {margin-right: 0;}
main .bg4 section .img_area a img {
    width: 198px; height: 284px; border-radius: 15px;
}
main .bg4 section .img_area a img:hover {
    scale: 1.2;
}
main .bg4 section p {
    font-size: 1.625rem; margin: 60px 0 0;
}
/* ------------------------------------------------------ 5-사용자맞춤서비스 */
main .bg5 {
    height: 1000px;
    background-image: url(../images/bg_5.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
main .bg5 .bg5_section {
    width: 1250px; margin: 0 auto;
    color: #fff;
    text-align: center;
}
main .bg5 .bg5_section .sub_tit {
    padding: 149px 0 20px;
    font-size: 2.125rem;
}
main .bg5 .bg5_section .tit {font-size: 4.375rem; margin-bottom: 100px;}
main .bg5 .bg5_section .week_contents {}
main .bg5 .bg5_section .week_contents p {padding: 0 0 70px; font-size: 2.125rem;}
main .bg5 .bg5_section .week_contents a {
    display: inline-block;
    width: 198px; height: 284px;
    background-color: gray;
    margin-right: 60px;
    border-radius: 15px;
}
main .bg5 .bg5_section .week_contents a img {
    display: inline-block;
    height: 100%; border-radius: 15px;
    border: 3px solid #444;
}
main .bg5 .bg5_section .week_contents a:last-child {
    margin: 0;
}
/* hover 속성 */
main .bg5 .bg5_section .week_contents a:hover {scale: 1.2;}
/* ------------------------------------------------------ 6-사용자 최적화 ui 제공 */
main .bg6 {
    height: 1000px;
    background-image: url(../images/bg_6.jpg);
    background-repeat: no-repeat;
}
main .bg6 .bg6_section {
    width: 1250px;
    margin: 0 auto; color: #fff;
    text-align: center;
    padding: 153px 0 0;
}
main .bg6 .bg6_section .sub_tit {
    font-size: 2.125rem;
}
main .bg6 .bg6_section .tit {
    font-size: 4.375em; font-weight: 700;
    margin: 20px 0 0;
}
main .bg6 .bg6_section .img_area {
    width: 809px; margin: 0 auto;
    padding: 68px 0 0;
    display: flex; flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
}
main .bg6 .bg6_section .img_area img {
    width: 201px; height: 434px;
}
main .bg6 .bg6_section .img_area img:nth-child(2) {width: 227px; height: 491px;}
/* ------------------------------------------------------ 7-만족도 높은 플랫폼 */
main .bg7 {
    height: 1000px;
    background-image: url(../images/bg_7.jpg);
    background-repeat: no-repeat;
}
main .bg7 .bg7_section {
    width: 1250px;
    margin: 0 auto;
    display: flex;
    flex-flow: column wrap;
    align-content: center;
    padding: 123px 0 0;
    border-top: 1px solid #f00;
}
main .bg7 .bg7_section .txt_area {
    text-align: center; color: #fff;
}
main .bg7 .bg7_section .txt_area .sub_tit {
    font-size: 2.125rem;
}
main .bg7 .bg7_section .txt_area .tit {
    font-size: 4.375em; font-weight: 700;
    margin: 20px 0 0;
}
main .bg7 .bg7_section .img_area {
    margin-top: 213px;
}
/* ------------------------------------------------------ 8-트렌드 선도하는 티빙 */
main .bg8 {
    height: 1000px;
    background-image: url(../images/bg_8.jpg);
}
main .bg8 .bg8_section {
    width: 1250px; margin: 0 auto; color: #fff;
    text-align: center;
}
main .bg8 .bg8_section .tit {font-size: 4.375em; font-weight: 700; padding: 180px 0 50px;}
main .bg8 .bg8_section .video_area {}
main .bg8 .bg8_section .video_area iframe {
    box-shadow: 0 0 30px rgba(255, 20, 60, 0.3);
    width: 812px; height: 457px;
    margin: 0 auto;
}
main .bg8 .bg8_section .btm {
    margin: 50px auto 0;
    background-color: #FF143C;
    padding: 10px 20px;
    font-size: 1.25rem;
    width: 646px; height: 55px;
    display: flex;
    justify-content: center;
    align-items: center;
}
main .bg8 .bg8_section .btm em {}
main .bg8 .bg8_section .btm span {display: flex; line-height: 35px;}
main .bg8 .bg8_section .btm span::before {
    content: '';
    background-image: url(../images/bg8_btm_bar.jpg);
    width: 3px; height: 35px;
    display: inline-block;
    margin: 0 20px;
}
/* ------------------------------------------------------ 9-국내 최고의 엔터테이먼트 */
main .bg9 {
    height: 1000px;
    background-image: url(../images/bg_9.jpg);
}
main .bg9 .bg9_section {
    width: 1250px;
    margin: 0 auto;
    color: #fff;
    text-align: right;
    padding: 345px 0 0;
}
main .bg9 .bg9_section .tit {
    font-size: 4.375em; font-weight: 700;
}
main .bg9 .bg9_section .sub_tit {font-size: 2.125rem;  margin: 30px 0 0}
/* ------------------------------------------------------ 10-sns */
main .bg10 {
    height: 1000px;
    background-image: url(../images/bg_10.jpg);
    background-repeat: no-repeat;
}
/* ------------------------------------------------------ 11-지금 구독하세요 */
main .bg11 {
    height: 1000px;
    background-image: url(../images/bg_11.jpg);
    background-repeat: no-repeat;
}
main .bg11 .bg11_section {
    width: 1250px; margin: 0 auto;
    color: #fff;
    text-align: center;
}
main .bg11 .bg11_section .top {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    padding: 282px 0 0;
}
main .bg11 .bg11_section .top p {font-size: 3.438rem; font-weight: 700;}
main .bg11 .bg11_section .top h2 {padding: 0 30px;}
main .bg11 .bg11_section p:nth-child(2) {
    margin: 60px 0 200px;
    font-size: 2.688rem; font-weight: 500;
}
main .bg11 .bg11_section a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 445px; padding: 25px 0;
    background-color: #000; color: #fff;
    border-radius: 29px;
    margin: 0 auto;
}
main .bg11 .bg11_section a span {
    font-size: 3.438rem; font-weight: 700;
}
main .bg11 .bg11_section a img {width: 50px; height: 50px; margin-left: 5px;}
/* ------------------------------------------------------ 12-footer */
main .bg12 {
    background-color: #000;
    height: 460px;
}
main .bg12 .bg12_section {
    width: 1250px;
    margin: 0 auto;
    padding: 91px 0 91px 30px;
    color: #fff;
}
main .bg12 .bg12_section .top {margin-bottom: 80px;}
main .bg12 .bg12_section .top a {
    color: #fff;
}
main .bg12 .bg12_section .top a:hover {
    color: #FF143C;
    text-decoration: underline;
}
main .bg12 .bg12_section .top a::after {
    content: '';
    width: 1px; height: 14px;
    display: inline-block;
    background-color: #fff;
    margin: 0 20px;
}
main .bg12 .bg12_section .top a:last-child::after {
    display: none;
}
main .bg12 .bg12_section .btm_top {
    margin-bottom: 20px;
    display: flex;
}
main .bg12 .bg12_section .btm_top li::after {
    content: '';
    width: 1px; height: 14px;
    display: inline-block;
    background-color: #fff;
    margin: 0 20px;
}
main .bg12 .bg12_section .btm_top li:last-child::after{display: none;}
main .bg12 .bg12_section .btm_btm {
    display: flex;
}
main .bg12 .bg12_section .btm_btm li:first-child::after {
    content: '';
    width: 1px; height: 14px;
    display: inline-block;
    background-color: #fff;
    margin: 0 20px;
}
main .bg12 .bg12_section em {font-weight: 700;}
main .bg12 .bg12_section .btm_btm {margin-bottom: 80px;}
main .bg12 .bg12_section .sns {}
main .bg12 .bg12_section .sns a {margin-left: 30px;}
main .bg12 .bg12_section .sns a:first-child {margin-left: 0;}